/* aboutpage  */
.about-wrapper{
    background-image: url('/image/about-slider.png');
    background-size: cover;
    /* height: 100vh; */
    min-height: 420px;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.about-wrapper .elementor-background-overlay1{
    background-color: #000000;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    opacity: 0.2;
    height: 420px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.about-wrapper-section{
    padding: 0% 15% 0% 15%;
    position: relative;
}
.about-wrapper-section .container-sm{
    max-width: 1140px;
}

.about-wrapper-section .container-sm .elementor-col-100{
    width: 100%;
    position: relative;
    min-height: 1px;
    display: flex;
}
.about-wrapper-section .container-sm .elementor-col-100 .about-top{
    padding: 10px;
}

.about-wrapper-section .container-sm .elementor-col-100 .about-top .about-widget-heading{
    text-align: center;
}
.about-wrapper-section .container-sm .elementor-col-100 .about-top .about-widget-heading .about-widget-container{
    margin: 70px 0px 70px 0px;
    padding: 0% 18% 0% 18%;
    box-sizing: border-box;
}
.about-top .about-widget-heading .about-widget-container .about-heading-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2px;
    color: #536942;
    font-family: forum-font;
    font-weight: 400;
    vertical-align: baseline;
}
.about-widget-image{
    margin-bottom: 20px;
    text-align: center;
}
.about-widget-image .about-widget-containerimg{
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.about-widget-content{
    padding: 30px 0px 70px 0px;
    
}
.about-widget-content h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: DM-Sans;
    font-size: 21px;
    line-height: 31px;
    color: #536942;
}
.about-widget-content p{
    text-align: center;
    padding: 0px 25px;
    font-size: 15px;
    color: rgba(82,104,64,0.75);
    font-family: DM-Sans;
    line-height: 26px;
}
.about-section-middle{
    background-color: #f6f8f5;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 50px 0px;
    position: relative;
}
.about-section-middle  .row{
padding: 20px 0px;
}
.about-middle-title{
    margin-bottom: 20px;
}
.about-section-middle .container .about-middle-title img{
    margin: 0px auto;
    opacity: 0.3;
}
.about-section-middle .container .abput-middle-content{
    text-align: center;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-top: 10px;
}
.about-section-middle .container .abput-middle-content h4{
    font-family: Forum-font;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: -2px;
    padding-bottom: 20px;
    color: #536942;
}
.about-middle-img img{
    margin: 0px auto 10px;
}
.about-middle-img p{
    text-align: center;
    color: rgba(82,104,64,0.5);
    line-height: 1.7em;
    font-size: 14px;
}

@media(max-width:1024px){
    
    .about-wrapper-section{
        padding: 0px;
    }
    .about-wrapper-section .container-sm .elementor-col-100 .about-top{
        padding: 0px;
    }
    .about-wrapper-section .container-sm .elementor-col-100 .about-top .about-widget-heading .about-widget-container{
        margin: 40px 0px 50px 0px;
        padding: 0px 15px 0px 15px;
    }
  
    .about-section-middle .container .abput-middle-content h4{
        font-size: 32px;
    }
    .about-wrapper{
        min-height: 330px;
    }
    .about-wrapper .elementor-background-overlay1{
        height: 330px;
    }
}
@media(max-width:768px){
    .content-principles{
        padding: 42px 10px 0px 10px;
    }
    .about-widget-content h3{
        font-size: 26px;
        line-height: 26px;
    }
    .about-widget-content p{
        font-size: 14px;
        padding: 0px 10px;
    }
    .about-section-middle .container .abput-middle-content h4{
        font-size: 24px;
        line-height: 38px;
        letter-spacing: -1.5px;
    }
    .about-section-middle{
        padding: 25px 0px;
    }
    .about-section-middle .container .abput-middle-content {
        padding-top: 0px;
    }
    .about-top .about-widget-heading .about-widget-container .about-heading-title{
        font-size: 24px;
        line-height: 38px;
        letter-spacing: -1.5px;
    }
    .about-widget-content{
        padding: 20px 0px 70px 0px;
    }
}
